<h1>All Articles</h1>

<div id="articles">
  <% @articles.each do |article| %>
  <div class='article'>
  <br>
  <% if article.image.exists? %>
						  <%= image_tag article.image.url(:thumb), class: "thumbnail" %>
					  <% end %>
    <%= link_to article.title, article_path(article), class: "article-title" ,id: "article_#{article.id}" %>
    <br>
    <div class='body'>
    <%= article.body.truncate_words(30) %>
    <br><br>
    </div>
  </div>
  <br>
  <% end %>

</div>
